* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* color: white; */
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
}

.blue {
  color: #3c8cc5;
}

.flex {
  display: flex;
  align-items: center;
}

.line {
  background-color: lightgray;
  height: 1px;
  width: 50%;
  margin: 0 auto 1rem;
  max-width: 350px;
}
